* {
  box-sizing: border-box;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-height: 100vh;
  max-width: 100vw;
  background-color: white;
  color: rgb(32, 33, 36);
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-height: 100vh;
  max-width: 100vw;
}

.post {
  list-style: none;
  max-height: 90vh;
  max-width: 100vw;
  margin-bottom: 2vh;
}

.post-item {
  border: 2px solid rgb(95, 99, 104);
  border-radius: 10px;
  margin: 4vh auto;
  padding: 1.5vh;
}

.page-item.active > span {
  background-color: rgb(32, 33, 36) !important;
  border-color: rgb(32, 33, 36) !important;
  color: white !important;
}

.page-link {
  color: rgb(32, 33, 36) !important;
}
